{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>О разработчике</h1>
    <hr>
    <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
            <h2 class="account-heading">Константин Темплин (qnbhd)</h2>
            <p class="text-secondary">{{ user.email }}</p>
            <a class="btn btn-secondary" href="https://github.com/qnbhd" target="_blank">
                Смотрите меня на GitHub <i class="fa fa-lg fa-github"></i>
            </a>
        </div>

    </div>
</div>
{% endblock %}